<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <h1 class="mx-auto" style="width: 100px;color:whitesmoke">TODO</h1>
</div>
<div style="margin-top:10px">
<div class="mx-auto" style="width: 400px;" id="form">
  <div class="card bg-primary">
  <div class="card-body">
<app-todo-form></app-todo-form>
</div>
</div>
</div>
<div class=row>
  <div class="col-md-6 mx-auto" style="margin-top:15px;"><app-todo-list></app-todo-list></div>
  <div class="col-md-6 mx-auto" style="margin-top:15px;"><app-done-list></app-done-list></div>
</div>
</div>
<router-outlet></router-outlet>